# -*- coding: utf-8 -*-
#
# Copyright (C) 2020 CESNET.
#
# invenio-integration-tests is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

name: Invenio requirements builder (ported from travis)

on:
  push:
    branches: [ invenio-3.5 ]
    paths-ignore: [ 'upload/*', '.github/workflows/p2oarepo.yml' ]
  workflow_dispatch:

jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-20.04
    services:
      postgres:
        image: postgres:9.6
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    strategy:
      max-parallel: 1
      matrix:
        include:
          - extras: 'invenio3.5'
            requirements: 'invenio3.5'
          - extras: 'invenio3.5test'
            requirements: 'invenio3.5test'
#          - extras: 'devel'
#            requirements: 'devel'
#          - extras: 'devel_test'
#            requirements: 'devel_test'
    env:
      E2E: 'no'
      EXTRAS: ${{ matrix.extras }}
      REQUIREMENTS: ${{ matrix.requirements }}
      TOK: '${{ secrets.INTEGRATION_TEST }}'
      SQLALCHEMY_DATABASE_URI: 'postgresql+psycopg2://postgres:postgres@localhost:5432/invenio'
      POSTGRES_USER: postgres
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      POSTGRES_DB: invenio
      GH_EVENT_NAME: ${{ github.event_name }}
    steps:
      - name: Checkout oarepo/invenio-integration-tests
        uses: actions/checkout@v2
      - name: Set up Python 3.10.0
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.0
      - name: Runs Elasticsearch
        uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: 7.15.2
      - name: init
        run: |
          echo "EXTRAS:$EXTRAS; REQUIREMENTS:$REQUIREMENTS;"
          ./scripts/init
      - name: install (bootstrap)
        run: |
          ./scripts/bootstrap
      - name: run_test
        env:
          INVENIO_SQLALCHEMY_DATABASE_URI: ${{ env.SQLALCHEMY_DATABASE_URI }}
        run: |
          ./run_tests.sh
      - name: push results back
        run: |
          ./scripts/push_back.sh
