# -*- coding: utf-8 -*-
#
# Copyright (C) 2020 CESNET.
#
# invenio-integration-tests is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

name: push to oarepo

on:
  push:
    branches: [ invenio-3.5-rdm ]
    paths: [ 'upload/p2oarepo_action.trigger' ]
  workflow_dispatch:

jobs:
  publish-setup-invenio-rdm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout oarepo/invenio-integration-tests
        uses: actions/checkout@v2
      - name: Checkout oarepo/oarepo under ./oarepo
        uses: actions/checkout@v2
        with:
          repository: 'oarepo/oarepo'
          ref: 'invenio-rdm'
          token: '${{ secrets.INTEGRATION_TEST }}'
          path: 'oarepo'
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Generate OARepo setup.py from tested requirements artifact
        run: |
          ./scripts/generate_oarepo_setup.sh rdm
          echo "NEWTAG=$(cat ./oarepo/oarepo/tag.txt)" >> $GITHUB_ENV
      - name: Commit and Push generated OARepo setup.py
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "[p2oarepo] update setup.py from oarepo/invenio-integration-tests (tag ${{ env.NEWTAG }})"
          branch: rdm-9
          file_pattern: setup.py oarepo/version.py
          repository: oarepo
          commit_user_name: p2oarepo-workflow
          commit_user_email: p2oarepo-workflow@oarepo.org
          #tagging_message: ${{ env.NEWTAG }}
          # Optional options appended to `git-push`
          push_options: '--force'
        if: success() && ( github.event_name == 'push' || github.event_name == 'workflow_dispatch' )
